<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{ISO8601} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- disable enable-debug-logging profile in POM to change this to info -->
    <root level="${default.debug.level:-debug}">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>