/Netbeans/nbproject/private/
/Netbeans/Batch/nbproject/private/
/Netbeans/Core/nbproject/private/
/Netbeans/Console/nbproject/private/
/Netbeans/WebApp/nbproject/private/
/Netbeans/Servlets/nbproject/private/
/Netbeans/WebSite/nbproject/private/
/Netbeans/Core/build/
/Netbeans/Core/dist/
/Netbeans/WebApp/build/
/Netbeans/Servlets/build/
/Netbeans/WebApp/dist/
/Netbeans/Servlets/dist/
/Netbeans/WebSite/build/
/Netbeans/WebSite/dist/
/Netbeans/Console/build/
*Enterprise*
*Premium*
*.lic
*.pfk
*.class
/Netbeans/Console/dist/
/Netbeans/UnitTests/nbproject/private/